.newsHeader {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    min-height: 100px;
    display: flex;
    padding-left: 30px;
}

.newsHeaderLeftSide {
    display: flex;
    flex-basis: 67%;
}


.newsHeaderPhoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #e6e6e6
}

.newsHeaderInfo {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsHeaderInfo h2 {
    line-height: 0;
    color: #000;
}

.newsHeaderInfo h2:hover {
    text-decoration: underline;
}

.newsHeaderNavbar a:not(:first-child) {
    color: #8d8d8d;
    border-top: 1px solid #e6e6e6;
}

.newsHeaderNavbar a:not(:first-child):hover {
    color: #000;
    border-top: 1px solid #000;
}


.newsHeaderNavbar a {
    padding: 15px;
    display: block;
    float: left;
}

.activeLink {
    color: #000 !important;
}

.newsContent {
    display: flex;
    flex-wrap: wrap;
}

.newsContentItem {
    flex: 1 0 30%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #e2e9e6;
    transition: all 0.5s ease-in-out;
}

.newsItemHeader {
    display: flex;
    background-color: #4687ce;
    max-height: 50px;
    box-sizing: border-box;
    color: #fff;
}

.newsItemHeader a {
    color: #fff;
    line-height: 0.5;
}

.newsItemHeader a:hover {
    text-decoration: underline;
}

.newsContentItem:nth-child(3n+2) {
    margin-left: 10px;
    margin-right: 10px;
}

.newsItemHeaderPhoto {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.newsItemInfo {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsitemContent {
    padding: 15px;
}
.newsVideoObject, .newsPhotoObject {
    width: 100%;
    height: 100%;
    outline: none;
}

.newsTextObject {
    word-break: break-word;
}

.newsObjects {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.newsSmallObject {
    flex: 1 0 40%;
    width: 20%;
    height: 100%;
    border: 1px solid transparent;
    object-fit: cover;
    outline: none;
}

/* modal window for fullscreen images*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    overflow: auto;
    padding: 0 0;
    z-index: 100;
}

.modal>img {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    height: 100%;
    object-fit: scale-down;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/*--------------------------------------*/
@media screen and (max-width: 600px) {
    .newsContentItem {
        flex: 1 0 100%;
        margin: 0;
    }
    .newsContentItem:nth-child(odd) {
        margin:0;
    }
    .newsContentItem:nth-child(3n+2) {
        margin: 0 ;
    }
}

@media screen and (max-width: 850px) {
    .newsContentItem {
        flex: 1 0 48%;
        margin: 5px;
    }
    .newsContentItem:nth-child(odd) {
        margin:5px;
    }
    .newsContentItem:nth-child(3n+2) {
        margin: 5px ;
    }

}