.ulContainer {
    display: flex;
}

.ulContainer>li {
    font-size: 0.8rem;
    padding: 10px 15px;
    cursor: pointer;
}

.active {
    background-color: white;
    border: 1px solid #4687ce;
    border-bottom: none;
}

.photosContainer {
    background-color: #fff;
    box-shadow: 2px 2px 3px #e6e6e6;
}

.photosIcon::before {
    content: '📷';
    margin-right: 3px;
}

.albumsIcon::before {
    content: '💳';
    margin-right: 3px;
}