.userItem {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #fff;
  &__header {
    padding: 10px;
    &-name {
      word-break: break-all;
    }
    &-content {
      display: inline-block;
      width: 80%;
      text-align: center;
      span {
        margin-left: 10px;
      }
    }
  }
  &__body {
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    padding-left: 10px;
  }
  &__footer {
    text-align: center;
    padding: 15px;
  }
  &__button {
    padding: 5px 10px;
    background-color: #efefef;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: #b3b3b3;
    }
    &:active {
      background-color: #838282;
    }
  }
  &__link {
    vertical-align: top;
  }
}
