.formMediaUpload {
  &__input_hidden {
    display: none;
  }
  &__icon {
    &:hover {
      color: #4687ce;
      cursor: pointer;
    }
  }
  &__count {
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0.6rem;
    padding: 1px;
    margin-left: 5px;
  }
  &__button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
