.formField {
  display: flex;

  textarea,
  input {
    flex: auto;
    display: block;
    margin-left: 15px;
    background-color: #f7f7f7;
    border: 1px solid;
    padding: 3px;
    margin-top: 10px;
    outline: none;
    transition: all 0.5s ease-in;

    &:focus {
      border-color: #749eff;
      flex: 0.1 1 180px;
    }
  }
  &__error {
    margin-left: 10px;
    color: red;
    margin-top: 10px;
  }
}
