.loginWrapper {
    text-align: center;
}

.fieldWrap {
    display: flex;
    flex-flow: row nowrap;
   
}

.fieldError {
    margin-left: 10px;
    color: red;
    margin-top: 10px;
}

.loginWrapper form , .loginWrapper textarea, .loginWrapper input{
    flex: auto ;
    display: block;
    margin-left: 15px;
    background-color: #f7f7f7;
    border: 1px solid;
    padding: 3px;
    margin-top: 10px;
    outline: none;
    transition: all 0.5s ease-in;
}

.loginWrapper form input:focus:not([type="checkbox"])  {
    border-color: #749EFF;
    flex: 0.1 1 180px;
}

.checkBox {
    display: flex;
    
    align-items: center;
}
.checkBox>input {
    flex-basis: 5%;
}
.checkBox>span {
    flex-basis: 95%;
    text-align: start;
    height: 13px;
}

.loginWrapper form {
    max-width: 300px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(116, 158, 255);
    border-radius: 3px;
    background-color: #ffffff;
}

.fieldWrap label {
    display: block;
    margin-right: 10px;
}

.loginPicture {
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(116, 158, 255);
}

.submitError{
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}

.submitBtn {
    background-color: rgba(116, 158, 255);
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 20px;
    margin-top: 15px;
    box-shadow: 2px 2px 5px rgba(116, 158, 255);
    position: relative;
    transition: all 0.5s linear;
    cursor: pointer;
}

.disabledButton {
    color: white;
    background-color: slategrey;
    box-shadow: 2px 2px 5px rgba(112, 128, 144) !important;
}

.disabledButton:hover {
    background-color:  slategray !important;
    cursor: not-allowed;
}

.submitBtn:hover, .submitBtn:focus {
    color: #fff;
    background-color: rgb(79, 132, 255);
}

.submitBtnText {
    position: relative;
    z-index: 1;
}

.footerText>a {
    color:  #000;
    transition: all .5s linear;
    cursor: pointer;
}

.footerText>a:hover, .footerText>a:focus {
    color:  rgb(36, 98, 241);
    outline: none;
    text-decoration: underline;
}
