.message {
    min-height: 110px;
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 2px;
}

.messageReverse {
    min-height: 110px;
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 2px;
    flex-direction: row-reverse;
}

.messageLeft {
    width: 70px;
}

.messageRight {
    border: 1px solid #e6e6e6;
    width: 100%;
    background-color: #fff;
}

.messageHeader {
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.messageHeaderReversed {
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.messageHeader a {
    color: rgba(116, 158, 255);
}

.messageHeader a:hover, .messageHeader a:focus {
    color: rgb(79, 132, 255);
}

.messageFooter {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;

}

.messageFooter span {
    word-break: break-word;
}

.messagePhoto {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
}

.messageDate {
    color: #8d8d8d
}